.codeLabel {
    /* top rig bot lef */
    padding: 0.5em 0 0.5em calc(1em + var(--shadow-lr-shift));
    /*margin: 0 0 0 -2em;*/
    width: 90%;
}

.codeLabelDeactivated:hover {
    color: var(--color-hover);
    font-weight: bold;
}

.codeLabelActivated {
    border-bottom-right-radius: var(--layout-md-corner-radius);
    border-top-right-radius: var(--layout-md-corner-radius);
    background-color: var(--color-md-background);
    /* shift right, shift down, fux, hoop */
    /*box-shadow: calc(0em - var(--shadow-lr-shift)) 0 var(--shadow-blur) 0 white inset;*/
}
