.navLeftFile {
    padding-left: 1em;
    display: flex;
    line-height: 2em;
}

.navLeftFileDeactivated:hover {
    color: var(--color-hover);
    font-weight: bold;
}

.navLeftFileActivated {
    border-bottom-left-radius: var(--layout-md-corner-radius);
    border-top-left-radius: var(--layout-md-corner-radius);
    /* shift right, shift down, blur, uh */
    /*box-shadow: var(--shadow-lr-shift) 0 var(--shadow-blur) 0 white inset;*/
    background-color: var(--color-md-background);
}
