.helpBox {
    position: fixed;
    top: var(--layout-nav-top-height);
    left: var(--layout-nav-lr-width);
    right: var(--layout-nav-lr-width);
    display: block;  /* initially hidden */
    z-index: 3; /* on top of other stuff */
    background-color: var(--color-help-background);
    color: var(--color-help-text);
    height: 0px;
    transition: height {{.TransitionSpeedMs}}ms;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.helpbox::-webkit-scrollbar {
    display: none;
}

.helpBoxInner {
    /* top right bottom left */
    padding: 1em 2em 1em 2em;
}

td.desc {
    text-align: right;
    padding-right: 2em;
}
td.keys {
    font-family: "Lucida Console", Monaco, monospace;
    font-weight: bold;
    font-size: larger;
}
