.navRightRoot {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* top rig bot lef */
    padding: var(--layout-nav-pad-top) 0 var(--layout-nav-pad-top) 0;
}
.navRightRoot:focus {
    outline: none;
}
