.navLeftRoot {
    /* top rig bot lef */
    padding: var(--layout-nav-pad-top) 0 var(--layout-nav-pad-top) 0;
    /* negate parent's rtl setting that was used to place scroll-bar on left */
    direction:ltr;
}
.navLeftRoot:focus {
    outline: none;
}
